{% load utility_tags %}

{% for question in test.question_set.all %}
<fieldset>
    <legend>Question {{ forloop.counter }}</legend>
    <p>
        {% for image in question.photo_set.all %}
        <img src="{{ image.image.url }}"/>
        {{ image.caption }}
        {% endfor %}
    </p>

    <p>{{ question.question }}</p>

    <ul>
        {% for answer in question.answer_set.all %}
        <li>
            {% if answer.correct %}
            <strong>{{ forloop.counter|index_to_char }}) {{ answer.answer }}</strong>
            {% else %}
            {{ forloop.counter|index_to_char }}) {{ answer.answer }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</fieldset>
{% endfor %}
