{% load utility_tags %}
{% for question in test %}
    <div class="row-fluid tbl_info_2"> <!-- TODO: Remove the tbl_info_2 when done -->
        <div class="span12">
            <div class="w-box w-box-blue">
                <div class="w-box-header">
                    <h4>{{ forloop.counter }}. {{ question.question }}</h4>
                </div>
                <div class="w-box-content">
                    <table class="table table-striped table-bordered tablesorter-bootstrap">
                        <tr>
                            <th style="white-space: normal;">Answer</th>
                            <th style="width: 80px; text-align: right; white-space: nowrap;">No. Answered</th>
                            <th style="width: 80px; text-align: right;">Percentage</th>
                        </tr>
                        {% for answer in question.answers %}
                            <tr>
                                <td> {% if answer.correct %}
                                    <strong>{{ forloop.counter|index_to_char }}) {{ answer.answer }}</strong> {% else %}
                                    {{ forloop.counter|index_to_char }}) {{ answer.answer }}
                                {% endif %} </td>
                                <td style="text-align: right;"> {{ answer.num_selected }} </td>
                                <td style="text-align: right;"> {{ answer.percentage }}%</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
