<!-- Username -->
<div class="{% if form.username.errors %}f-error{% endif %} control-group formSep">
    <label class="control-label req" for="{{ form.username.auto_id }}">{{ form.fields.username.label }}</label>

    <div class="controls">
        {{ form.username }}
        {% if form.username.errors %}
            <label for="{{ form.username.auto_id }}" class="error">
                {% for error in form.username.errors %}{{ error }}{% endfor %}
            </label>
        {% endif %}
    </div>
</div>

<!-- Email -->
<div class="{% if form.email.errors %}f-error{% endif %} control-group formSep">
    <label class="control-label req" for="{{ form.email.auto_id }}">{{ form.fields.email.label }}</label>

    <div class="controls">
        {{ form.email }}
        {% if form.email.errors %}
            <label for="{{ form.email.auto_id }}" class="error">
                {% for error in form.email.errors %}{{ error }}{% endfor %}
            </label>
        {% endif %}
    </div>
</div>


<!-- First Name -->
<div class="{% if form.first_name.errors %}f-error{% endif %} control-group formSep">
    <label class="control-label req" for="{{ form.first_name.auto_id }}">{{ form.fields.first_name.label }}</label>

    <div class="controls">
        {{ form.first_name }}
        {% if form.first_name.errors %}
            <label for="{{ form.first_name.auto_id }}" class="error">
                {% for error in form.first_name.errors %}{{ error }}{% endfor %}
            </label>
        {% endif %}
    </div>
</div>

<!-- Last Name -->
<div class="{% if form.last_name.errors %}f-error{% endif %} control-group formSep">
    <label class="control-label req"
           for="{{ form.last_name.auto_id }}">{{ form.fields.last_name.label }}</label>

    <div class="controls">
        {{ form.last_name }}
        {% if form.last_name.errors %}
            <label for="{{ form.last_name.auto_id }}" class="error">
                {% for error in form.last_name.errors %}{{ error }}{% endfor %}
            </label>
        {% endif %}
    </div>
</div>

<!-- Middle Initial -->
<div class="{% if form.middle.errors %}f-error{% endif %} control-group formSep">
    <label class="control-label" for="{{ form.middle.auto_id }}">{{ form.fields.middle.label }}</label>

    <div class="controls">
        {{ form.middle }}
        {% if form.middle.errors %}
            <label for="{{ form.middle.auto_id }}" class="error">
                {% for error in form.middle.errors %}{{ error }}{% endfor %}
            </label>
        {% endif %}
    </div>
</div>


<!-- Fema ID -->
<div class="{% if form.fema_id.errors %}f-error{% endif %} control-group formSep">
    <label class="control-label" for="{{ form.fema_id.auto_id }}">{{ form.fields.fema_id.label }}</label>

    <div class="controls">
        {{ form.fema_id }}
        {% if form.fema_id.errors %}
            <label for="{{ form.fema_id.auto_id }}" class="error">
                {% for error in form.fema_id.errors %}{{ error }}{% endfor %}
            </label>
        {% endif %}
    </div>
</div>

<!-- Job Title -->
<div class="{% if form.title.errors %}f-error{% endif %} control-group formSep">
    <label class="control-label"
           for="{{ form.title.auto_id }}">{{ form.fields.title.label }}</label>

    <div class="controls">
        {{ form.title }}
        {% if form.title.errors %}
            <label for="{{ form.title.auto_id }}" class="error">
                {% for error in form.title.errors %}{{ error }}{% endfor %}
            </label>
        {% endif %}
    </div>
</div>

<!-- Agency -->
<div class="{% if form.agency.errors %}f-error{% endif %} control-group formSep">
    <label class="control-label"
           for="{{ form.agency.auto_id }}">{{ form.fields.agency.label }}</label>

    <div class="controls">
        {{ form.agency }}
        {% if form.agency.errors %}
            <label for="{{ form.agency.auto_id }}" class="error">
                {% for error in form.agency.errors %}{{ error }}{% endfor %}
            </label>
        {% endif %}
    </div>
</div>

<!-- Government Level -->
<div class="{% if form.government_level.errors %}f-error{% endif %} control-group formSep">
    <label class="control-label req"
           for="{{ form.government_level.auto_id }}">{{ form.fields.government_level.label }}</label>

    <div class="controls">
        {{ form.government_level }}
        {% if form.government_level.errors %}
            <label for="{{ form.government_level.auto_id }}" class="error">
                {% for error in form.government_level.errors %}{{ error }}{% endfor %}
            </label>
        {% endif %}
    </div>
</div>

<!-- Discipline -->
<div class="{% if form.discipline.errors %}f-error{% endif %} control-group formSep">
    <label class="control-label req"
           for="{{ form.discipline.auto_id }}">{{ form.fields.discipline.label }}</label>

    <div class="controls">
        {{ form.discipline }}
        {% if form.discipline.errors %}
            <label for="{{ form.discipline.auto_id }}" class="error">
                {% for error in form.discipline.errors %}{{ error }}{% endfor %}
            </label>
        {% endif %}
    </div>
</div>

<!-- Phone -->
<div class="{% if form.phone.errors %}f-error{% endif %} control-group formSep">
    <label class="control-label req" for="{{ form.phone.auto_id }}">{{ form.fields.phone.label }}</label>

    <div class="controls">
        {{ form.phone }}
        {% if form.phone.errors %}
            <label for="{{ form.phone.auto_id }}" class="error">
                {% for error in form.phone.errors %}{{ error }}{% endfor %}
            </label>
        {% endif %}
    </div>
</div>

<!-- Address -->
<div class="{% if form.address.errors %}f-error{% endif %} control-group formSep">
    <label class="control-label req" for="{{ form.address.auto_id }}">{{ form.fields.address.label }}</label>

    <div class="controls">
        {{ form.address }}
        {% if form.address.errors %}
            <label for="{{ form.address.auto_id }}" class="error">
                {% for error in form.address.errors %}{{ error }}{% endfor %}
            </label>
        {% endif %}
    </div>
</div>

<!-- Address1 -->
<div class="{% if form.address1.errors %}f-error{% endif %} control-group formSep">
    <label class="control-label" for="{{ form.address1.auto_id }}">{{ form.fields.address1.label }}</label>

    <div class="controls">
        {{ form.address1 }}
        {% if form.address1.errors %}
            <label for="{{ form.address1.auto_id }}" class="error">
                {% for error in form.address1.errors %}{{ error }}{% endfor %}
            </label>
        {% endif %}
    </div>
</div>

<!-- City -->
<div class="{% if form.city.errors %}f-error{% endif %} control-group formSep">
    <label class="control-label req" for="{{ form.city.auto_id }}">{{ form.fields.city.label }}</label>

    <div class="controls">
        {{ form.city }}
        {% if form.city.errors %}
            <label for="{{ form.city.auto_id }}" class="error">
                {% for error in form.city.errors %}{{ error }}{% endfor %}
            </label>
        {% endif %}
    </div>
</div>

<!-- State -->
<div class="{% if form.state.errors %}f-error{% endif %} control-group formSep">
    <label class="control-label req" for="{{ form.state.auto_id }}">{{ form.fields.state.label }}</label>

    <div class="controls">
        {{ form.state }}
        {% if form.state.errors %}
            <label for="{{ form.state.auto_id }}" class="error">
                {% for error in form.state.errors %}{{ error }}{% endfor %}
            </label>
        {% endif %}
    </div>
</div>

<!-- Zip -->
<div class="{% if form.zip.errors %}f-error{% endif %} control-group formSep">
    <label class="control-label req" for="{{ form.zip.auto_id }}">{{ form.fields.zip.label }}</label>

    <div class="controls">
        {{ form.zip }}
        {% if form.zip.errors %}
            <label for="{{ form.zip.auto_id }}" class="error">
                {% for error in form.zip.errors %}{{ error }}{% endfor %}
            </label>
        {% endif %}
    </div>
</div>

<!-- Country -->
<div class="{% if form.country.errors %}f-error{% endif %} control-group formSep">
    <label class="control-label req" for="{{ form.country.auto_id }}">{{ form.fields.country.label }}</label>

    <div class="controls">
        {{ form.country }}
        {% if form.country.errors %}
            <label for="{{ form.country.auto_id }}" class="error">
                {% for error in form.country.errors %}{{ error }}{% endfor %}
            </label>
        {% endif %}
    </div>
</div>

<!-- Citizenship -->
<div class="{% if form.citizen.errors %}f-error{% endif %} control-group formSep">
    <label class="control-label req" for="{{ form.citizen.auto_id }}">{{ form.fields.citizen.label }}</label>

    <div class="controls">
        {{ form.citizen }}
        {% if form.citizen.errors %}
            <label for="{{ form.citizen.auto_id }}" class="error">
                {% for error in form.citizen.errors %}{{ error }}{% endfor %}
            </label>
        {% endif %}
    </div>
</div>

