<div class="row">
    <div class="span4">Username: <strong>{{ person.username }}</strong></div>
    <div class="span4">Email: <strong>{{ person.email }}</strong></div>
</div>

<div class="row">
    <div class="span4">First Name: <strong>{{ person.first_name }}</strong></div>
    <div class="span2">Middle Initial: <strong>{{ person.middle }}</strong></div>
    <div class="span4">Last Name: <strong>{{ person.last_name }}</strong></div>
</div>

<div class="row">
    <div class="span4">Title: <strong>{{ person.title }}</strong></div>
    <div class="span2">Fema ID: <strong>{{ person.fema_id }}</strong></div>
    <div class="span4">Agency: <strong>{{ person.agency }}</strong></div>
</div>

<div class="row">
    <div class="span4">Government Level: <strong>{{ person.government_level }}</strong></div>
    <div class="span4">Discipline: <strong>{{ person.discipline }}</strong></div>
</div>

<div class="row">
    <div class="span4">Address: <strong>{{ person.address }}</strong></div>
    <div class="span4">Address 1: <strong>{{ person.address1 }}</strong></div>
    <div class="span2">City: <strong>{{ person.city }}</strong></div>
</div>

<div class="row">
    <div class="span4">State: <strong>{{ person.state }}</strong></div>
    <div class="span4">Zip: <strong>{{ person.zip }}</strong></div>
    <div class="span2">Country: <strong>{{ person.country }}</strong></div>
</div>
